<!DOCTYPE html>
<html>
<body>
 {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

<h2>ORDER</h2>

<form action="http://localhost:5000/order_insert" method ="post">
  Order Id:<br>
  <input type="text" name="or_id">
  <br>
  Customer Id:<br>
  <input type="text" name="cus_id">
  <br>
  Product Id:<br>
  <input type="text" name="pro_id">
  <br>
  Price:<br>
  <input type="text" name="pr">
  <br>
   Quantity:<br>
    <input type="text" name="Q">
    <br>
   Total amount:<br>
    <input type="text" name="t_a">
    <br>
    Payment:<br>
    <input type="text" name="pt">
    <br>
    Mode:<br>
    <input type="text" name="md">
    <br><br>
  <input type="submit" value="Submit">
</form> 
<p> <a href="home">Home</a>  <a href="order">back</a>
</p>

</body>
</html>
