<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>SUPPLIER:</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Contact</th>
  </tr>
   {% for i,j,k,l in display %}
  <tr>
    <td>{{i}}</td>
    <td>{{j}}</td>
    <td>{{k}}</td>
    <td>{{l}}</td>
  </tr>
  {% endfor %}

  
</table>
<p> <a href="home">Home</a>  <a href="supplier">back</a>
</p>

</body>
</html>
